<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>

    <h2>List of Things:</h2>
    <ul>
      <li *ngFor="let thing of things">
        <a (click)="thingClicked(thing.id)"> {{ thing.email }} </a>
      </li>
    </ul>
    <hr>
    
    <input type="text" [(ngModel)]="thing.id">
    <input type="text" [(ngModel)]="thing.username">
    <input type="text" [(ngModel)]="thing.email">
    <input type="text" [(ngModel)]="thing.interests">
    
    <button (click)="updateThing()">Update Thing</button>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>